@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root{
    --main-bg-color:#2874f0;
}

*{
    margin: 0;
    padding: 0;

}
 header{
    width: 100vw;
    background-color: var(--main-bg-color);
    font-family:'Ubuntu', sans-serif ;
    padding: 0px 20px;
    z-index: 3;
} 

nav ul{
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img{
    width: 112px;
    padding: 0 25px;
}
nav{
    display: flex;
}
nav ul li {
    list-style: none;
    padding: 10px 23px;
    
}
 nav ul li a{
    color: white;
    text-decoration: none;
   
 }
 nav ul li a:hover{
    color: white;
    font-weight: bolder;
   
 }
 .search{
     display: flex;
     align-items: center;
     padding: 4px;
     
     
 }
 .searchbar{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 600px;
     height: 23px;

 }
 
 .search input{
     border-radius: 5px;
     margin: 20px;
     padding: 0px 12px;
     
 }
 .btn{
     width: 60px;
     height: 30px;
     border: 2px solid rgb(127, 171, 253);
     background-color: var(--main-bg-color);
     color: white;
     font-style: 'Ubuntu', sans-serif;
     padding: 2px 2px;
     border-radius: 6px;
     font-weight: 600;
 }
 button:hover{
     border: 2px solid rgb(165, 192, 228);
 }

main{
    min-height: calc(100vh - 8vh - 10vh);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: inline-block;
    margin: 15px 540px;

}
main{
    background-color: lightsteelblue;
}










 footer{
    height: 10vh;
    width: 100vw;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}